@import "./PagesCSS/Nav.css";
@import "./PagesCSS/About.css";
@import "./PagesCSS/Projects.css";
@import "./PagesCSS/Skills.css";
@import "./PagesCSS/Resume.css";
@import "./PagesCSS/Contacts.css";
.mainBody {
  flex: 1; 
  color: white;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 50%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 50%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  padding: 50px;
  margin-top: 20px;
  border-radius: 20px;
}

.profileCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profileImg {
  border-radius: 50%;
  max-width: 65%; 
  height: auto; 
  display: block;
  margin: 0 auto;
}

.introCol {
  padding-top: 20px;
}

h3 {
  color: #ffffff;
}

h1 {
  color: rgb(0, 183, 255);
}

.introText {
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
  background-color: rgb(11, 11, 11);
  padding: 20px;
  color: gray;
  margin-top: auto;
}

/* For mobile devices */
@media (max-width: 576px) {
  .mainBody {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .profileImg {
    max-width: 100%;
    padding: 60px;
  }
  
  .footer {
    padding: 10px;
  }
  
  .introCol {
    padding-top: 20px;
  }
}
